<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cn.mapper.ExhibitionMapper" >
  <resultMap id="BaseResultMap" type="com.cn.model.Exhibition" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="exhibit_time" property="exhibitTime" jdbcType="TIMESTAMP" />
    <result column="exhibit_name" property="exhibitName" jdbcType="VARCHAR" />
    <result column="exhibit_address" property="exhibitAddress" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="create_user_id" property="createUserId" jdbcType="VARCHAR" />
    <result column="last_modify_time" property="lastModifyTime" jdbcType="TIMESTAMP" />
    <result column="last_modify_user_id" property="lastModifyUserId" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="VARCHAR" />
    <result column="exhibit_img" property="exhibitImg" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, exhibit_time, exhibit_name, exhibit_address, create_time, create_user_id, last_modify_time, 
    last_modify_user_id, status, exhibit_img
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from exhibition
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectContent" resultType="java.util.Map" >
    select DATE_FORMAT(a.exhibit_time,'%Y年') as time,a.exhibit_name as name,a.exhibit_address as address ,b.image_path as img
    from exhibition a,workimages b
    where a.exhibit_img = b.image_id and b.status=4
    order by exhibit_time
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from exhibition
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.cn.model.Exhibition" >
    insert into exhibition (id, exhibit_time, exhibit_name, 
      exhibit_address, create_time, create_user_id, 
      last_modify_time, last_modify_user_id, status, 
      exhibit_img)
    values (#{id,jdbcType=INTEGER}, #{exhibitTime,jdbcType=TIMESTAMP}, #{exhibitName,jdbcType=VARCHAR}, 
      #{exhibitAddress,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{createUserId,jdbcType=VARCHAR}, 
      #{lastModifyTime,jdbcType=TIMESTAMP}, #{lastModifyUserId,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR}, 
      #{exhibitImg,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.cn.model.Exhibition" >
    insert into exhibition
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="exhibitTime != null" >
        exhibit_time,
      </if>
      <if test="exhibitName != null" >
        exhibit_name,
      </if>
      <if test="exhibitAddress != null" >
        exhibit_address,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="createUserId != null" >
        create_user_id,
      </if>
      <if test="lastModifyTime != null" >
        last_modify_time,
      </if>
      <if test="lastModifyUserId != null" >
        last_modify_user_id,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="exhibitImg != null" >
        exhibit_img,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="exhibitTime != null" >
        #{exhibitTime,jdbcType=TIMESTAMP},
      </if>
      <if test="exhibitName != null" >
        #{exhibitName,jdbcType=VARCHAR},
      </if>
      <if test="exhibitAddress != null" >
        #{exhibitAddress,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUserId != null" >
        #{createUserId,jdbcType=VARCHAR},
      </if>
      <if test="lastModifyTime != null" >
        #{lastModifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastModifyUserId != null" >
        #{lastModifyUserId,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="exhibitImg != null" >
        #{exhibitImg,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.cn.model.Exhibition" >
    update exhibition
    <set >
      <if test="exhibitTime != null" >
        exhibit_time = #{exhibitTime,jdbcType=TIMESTAMP},
      </if>
      <if test="exhibitName != null" >
        exhibit_name = #{exhibitName,jdbcType=VARCHAR},
      </if>
      <if test="exhibitAddress != null" >
        exhibit_address = #{exhibitAddress,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUserId != null" >
        create_user_id = #{createUserId,jdbcType=VARCHAR},
      </if>
      <if test="lastModifyTime != null" >
        last_modify_time = #{lastModifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastModifyUserId != null" >
        last_modify_user_id = #{lastModifyUserId,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="exhibitImg != null" >
        exhibit_img = #{exhibitImg,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cn.model.Exhibition" >
    update exhibition
    set exhibit_time = #{exhibitTime,jdbcType=TIMESTAMP},
      exhibit_name = #{exhibitName,jdbcType=VARCHAR},
      exhibit_address = #{exhibitAddress,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      create_user_id = #{createUserId,jdbcType=VARCHAR},
      last_modify_time = #{lastModifyTime,jdbcType=TIMESTAMP},
      last_modify_user_id = #{lastModifyUserId,jdbcType=VARCHAR},
      status = #{status,jdbcType=VARCHAR},
      exhibit_img = #{exhibitImg,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>