<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cn.mapper.WorkimagesMapper" >
  <resultMap id="BaseResultMap" type="com.cn.model.Workimages" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="image_id" property="imageId" jdbcType="INTEGER" />
    <result column="image_path" property="imagePath" jdbcType="VARCHAR" />
    <result column="mainfigure" property="mainfigure" jdbcType="INTEGER" />
    <result column="status" property="status" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, image_id, image_path, mainfigure, status
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from workimages
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from workimages
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.cn.model.Workimages" >
    insert into workimages (id, image_id, image_path, 
      mainfigure, status)
    values (#{id,jdbcType=INTEGER}, #{imageId,jdbcType=INTEGER}, #{imagePath,jdbcType=VARCHAR}, 
      #{mainfigure,jdbcType=INTEGER}, #{status,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.cn.model.Workimages" >
    insert into workimages
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="imageId != null" >
        image_id,
      </if>
      <if test="imagePath != null" >
        image_path,
      </if>
      <if test="mainfigure != null" >
        mainfigure,
      </if>
      <if test="status != null" >
        status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="imageId != null" >
        #{imageId,jdbcType=INTEGER},
      </if>
      <if test="imagePath != null" >
        #{imagePath,jdbcType=VARCHAR},
      </if>
      <if test="mainfigure != null" >
        #{mainfigure,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.cn.model.Workimages" >
    update workimages
    <set >
      <if test="imageId != null" >
        image_id = #{imageId,jdbcType=INTEGER},
      </if>
      <if test="imagePath != null" >
        image_path = #{imagePath,jdbcType=VARCHAR},
      </if>
      <if test="mainfigure != null" >
        mainfigure = #{mainfigure,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cn.model.Workimages" >
    update workimages
    set image_id = #{imageId,jdbcType=INTEGER},
      image_path = #{imagePath,jdbcType=VARCHAR},
      mainfigure = #{mainfigure,jdbcType=INTEGER},
      status = #{status,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>